#title {
    font-size: clamp(2rem, 5vmin, 5rem);
    text-align: center;
    color: var(--chalk-color);
    margin-bottom: 10vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: min(80vw, 80vh);
  width: min(80vw, 80vh);
  gap: 8px;
  background-color: var(--chalk-color);
}

.cells {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: 1px solid var(--chalk-color);
  background-color: var(--main-bg);
}

/* top row (1,2,3) */
.cells:nth-child(-n+3) {
  border-top: none;
}

/* bottom row (7,8,9) */
.cells:nth-child(n+7) {
  border-bottom: none;
}

/* left col (1,4,7) */
.cells:nth-child(3n+1) {
  border-left: none;
}

/* right col (3,6,9) */
.cells:nth-child(3n) {
  border-right: none;
}

#copyright {
    margin-top: 5vh;
    font-size: 14px;
    color: var(--chalk-color);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}